/* Add your styles here */
body {
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
